@font-face {
  font-family: 'Cheap Pine';
  src: url(data/Cheap\ Pine\ Regular.ttf);
}

@font-face {
  font-family: 'Elza Regular';
  src: url(data/Elza\ Regular.ttf);
}

:root {
  --box-shadow: 0px 4px 6px 0px rgba(50, 50, 93, 0.11),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --purple: #9147ff;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  /* Grid: header[15%], section[70%], footer[#%]*/
  display: grid;
  grid-template-rows: 30% 70% 10%;
  gap: 10px;
}

header,
section {
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

header {
  background-image: url(data/weather4.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

#title {
  font-size: 5rem;
  font-family: 'Cheap Pine', cursive;
  cursor: default;
  margin-bottom: 40px;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#search {
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 5px;
  width: 20vw;
  border-radius: 10px;
  line-height: 1.5;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  opacity: 90%;
}

#search:hover {
  border-color: #ccc;
}
#search:focus {
  outline: none;
  border-color: var(--purple);
  background: #fff;
  opacity: 100%;
}

#search::placeholder {
  color: #ccc;
  font-weight: 900;
}

#search-button {  
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    font-size: 13px;
    height: 30px;
    width: 10vw;
    background-color: var(--purple);
    color: white;
    padding: 0 10px;
    opacity: 90%;
}

#search-button:hover {
    background-color: var(--purple);
    opacity: 100%;
}

#search-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-card{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: fit-content;
}

#weather-info, #icon-container, #facts-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-family: 'Elza Regular', cursive;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-size: 1.2rem;
}

#icon-container, #facts-container{
  background-color: #9147ffd2;
}

#weather-location, #weather-temp{
  font-weight: 700;
  font-size: 1.5rem;
}

footer {
  /* border: 2px blue solid; */
}

@media screen and (max-width: 768px) {
  body{
    display: none;
  }
}

@media screen and (max-height: 660px) {
  body{
    display: none;
  }
}